/* ===== navbar ===== */
nav {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    align-items: center;
}

nav .logo {
    display: flex;
} 

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 200px;
    /* background-color: salmon; */
    justify-content: space-between;
}

nav ul li  {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav ul li img {
    width: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #3C6255;
    border-radius: 7px;
    padding:5px;
    font-size: 1em;
}
/* ===== navbar ===== */