.page-title {
    font-size: 1.5em;
}

/* ===== row-stat1 ===== */
.row1 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.row1 .col {
    background-color: #EAE7B1;
    width: 220px;
    height: 140px;
    box-sizing: border-box;
    border-radius: 7px;
    text-align: center; /*temp*/
}
/* ===== row-stat1 ===== */

/* ===== row-stat2 ===== */
.row2 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.row2 .col {
    background-color: #A6BB8D;
    width: 220px;
    height: 140px;
    box-sizing: border-box;
    border-radius: 7px;
    text-align: center; /*temp*/
}
/* ===== row-stat2 ===== */

.sub-title {
    font-size: 1em;
}

/* ===== canvas ===== */
canvas {
    width: 100%;
    margin: 0 auto;
}
/* ===== canvas ===== */

/* ===== peringkat ===== */
.row-peringkat {
    display: flex;
    justify-content: space-between;
}

.row-peringkat .col-peringkat {
    /* background-color: aqua; */
    width: 49%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
/* ===== peringkat ===== */
