/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

body::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS ku dewe */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

body {
    font: 16px/28px arial, sans-serif;
    background-color: #A6BB8D;
}

/* ===== navbar ===== */
nav {
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    align-items: center;
    border-radius: 0 0 7px 7px;
}

nav .logo {
    display: flex;
} 

nav .menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    /* background-color: black; */
    justify-content: space-between;
    position: relative;
    margin-top: 18px;
}

nav .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    opacity: 0;
    cursor: pointer;
}

nav .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #3C6255;
    border-radius: 3px;
    transition: all 0.5s;
}

/* animasi hamburger */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 130px;
    /* background-color: black; */
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: #EAE7B1;
    background-color: #3C6255;
    border-radius: 7px;
    padding:5px;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: white;
}

.nav-burger{
    position: fixed;
    bottom: 100%;
    width: 100%;
    min-height: 300px;
    display: flex;
    z-index: 98;
    background-color: white;
    margin-bottom: 200px;
    transition: 0.4s;

}

.nav-burger.is-active{
    bottom: 0;
    top: 56px;
}

.kategori{
    width: 700px;
    height: 100%;
    display: flex;
    margin-left: 100px;
}

.ktg{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #3C6255;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    padding-bottom: 10px;
    left: 30px;
}

.list-kt{
/*    width: 100%;*/
/*    height: 100%;*/
    display: flex;
/*    align-items: center;
    justify-content: center;*/
    margin-top: 70px;
    position: relative;
    right: 340px;
    margin-top: 250px;
    top: -180px;
}

.list-kt li{
    display: grid;
    position: relative;
    right: 15px;
}

.list-kt li ul {
    width: 220px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.list-kt li ul a{
    text-decoration: none;
    color: #61876E;
}

.list-kt li ul a:hover{
    color: #3C6255;
}

.l1, .l2, .l3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-burger .kt-donasi{
    width: 100%;
    height: 100%;
    position: relative;
}

.nav-burger .kt-donasi p{
    width: 120px;
    height: 30px;
    position: relative;
    left: 280px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #3C6255;
    padding-bottom: 30px;
    margin-top: 20px;
}

.nav-burger .kt-donasi ul{
    position: relative;
    padding-top: 50px;
}

.nav-burger .kt-donasi ul li{
    display: flex;
    text-decoration: none;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #61876E;
    list-style-type: none;
    justify-content: center;
    cursor: pointer;
}

.nav-burger .kt-donasi ul li:hover{
    color: #3C6255;
}
/* ===== navbar ===== */

/* ===== footer ===== */
.footer {
    display: flex;
    background-color: #EAE7B1;
    justify-content: space-between;
    padding: 15px 100px 15px 100px;
    align-items: center;
    /* margin-top: 20px; */
}

.medsos ul {
    display: flex;
    list-style: none;
    /* background-color: white; */
    width: 200px;
    justify-content: space-between;
}

.medsos ul img {
    width: 30px;
}
/* ===== footer ===== */

/* .home{
    width: 100%;
    height: max-content;
    background: #A6BB8D;
    position: absolute;
    padding-bottom: 50px;
} */

/* ===== program ===== */

.program{
    width: 100%;
    height: 400px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-program{
    width: 100%;
    height: 400px;
    margin-right: 30px;
    margin-left: 30px;
    margin: 0 0 0 150px;
}

.img-program img{
    width: 87%.5;
    height: 100%;
    border-radius: 10px;
}

.ket-prog{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.ket{
    width: 100%;
    height: 100%;
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 50px;
    padding-left: 50px;
    background: #BBD6B8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.donasi-terkumpul, .donatur, .total{
    width: 180px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.donasi-terkumpul span, .donatur span, .total span{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    
}

.line{
    border-left: 2px solid #3C6255;
    height: 100px;
    position: relative;
    margin-left: -4px;
}

/* responsif breakpoint */
/* ukuran tablet */
@media screen and (max-width: 768px) {
    
}
/* ukuran mobile */
@media screen and (max-width: 576px) {
    
}
/* responsif breakpoint */
/* ===== program ===== */

/* ===== donasi ===== */
.donasi{
    width: 50%;
    height: max-content;
    display: flex;
    position: fixed;
    top: 82.5%;
    right: 26%;
    z-index: 100;
    gap: 10px;
}

.btn-share{
    width: 20%;
    height: 40px;
}

.btn-share img{
    width: 90%;
    height: 70%;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.btn-share button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #A6BB8D;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    box-shadow: 0px 9px 9px -6px rgba(138,130,130,0.76);
    -webkit-box-shadow: 0px 9px 9px -6px rgba(138,130,130,0.76);
    -moz-box-shadow: 0px 9px 9px -6px rgba(138,130,130,0.76);
}

.btn-share button:hover{
    background-color: #5F8D4E;
}

.btn-donasi{
    width: 80%;
    height: 40px;
}

.btn-donasi button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #7AA874;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #3a3a3a;
    box-shadow: 0px 9px 9px -6px rgba(138,130,130,0.76);
    -webkit-box-shadow: 0px 9px 9px -6px rgba(138,130,130,0.76);
    -moz-box-shadow: 0px 9px 9px -6px rgba(138,130,130,0.76);
}

.btn-donasi button:hover{
    background-color: #C9F4AA;
}

/* ===== donasi ===== */

/* ===== mytabs ===== */

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
    margin: 0 auto;
    padding: 25px;
    justify-content: center;
}

.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    width: 140px;
    height: 20px;
    padding: 25px;
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFE9AE;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.mytabs label:hover{
    background: #FFDBA4;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background: #EAE7B1;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #EAE7B1;
}

.wrap-ulasan{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== mytabs ===== */

/* ===== ulasan ===== */

.ulasan{
    width: 70%;
    height: max-content;
    background-color: #EAE7B1;
    border-radius: 15px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.ulasan h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ulasan-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.ulasan-box{
    width: 450px;
    background-color: #fff;
    padding: 10px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.54);
}

.img-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.img-profile img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
    align-items: center;
}

.username{
    display: flex;
    flex-direction: column;
}

.username strong{
    color: #3d3d33;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.username span{
    color: #979797;
    font-size: 0.8rem;
}

.pesan p{
    font-size: 0.8rem;
    color: #4b4b4b;
}

.ulasan-box:hover{
    transform: scale(1.08);
    transition: all ease 0.25s;
}

/* ===== ulasan ===== */