/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS ku dewe */
body {
    font: 16px/28px arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
}

/* ===== kiri ===== */
.satu {
    width: 35%;
    background-color: #A6BB8D;
    box-sizing: border-box;
}

.satu1 {
    background-color: #A6BB8D;
}

.satu1 img {
    width: 200px;
}

.satu2 {
    width: 300px;
    margin: auto;
}

.satu3 {
    width: 200px;
    margin: auto;
    box-sizing: border-box;
}

.satu .ayat {
    font-size: 1.25em;
    color: #F5F5F5;
    padding: 5px;
    text-align: center;
}
/* responsif breakpoint */
/* ukuran tablet */
@media screen and (max-width:768px) {
    .container {
        height: 100%;
    }
    .satu1 img {
        width: 150px;
    }
    .satu2 {
        width: 200px;
    }
    .satu3 {
        width: 200px;
        margin: auto;
        padding: 20px;
    }
    .satu3 img {
        width: 150px;
    }
    .satu .ayat {
        font-size: 1em;
        color: #F5F5F5;
        text-align: center;
    }
}
/* ukuran mobile */
@media screen and (max-width:576px) {

}
/* responsif breakpoint */
/* ===== kiri ===== */

/* ===== kanan ===== */
.dua {
    width: 65%;
    background-color: #A6BB8D;
}

.dua1 {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 43px 0px 0px 43px;

}

.dua11 {
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: salmon; */
    box-sizing: border-box;
}

#form {
    width: 100%;
    margin: auto;
    padding: 150px 20px 100px 20px;
    /* background-color: yellow; */
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
}

.dua11 h1 {
    font-weight: bold;
    text-align: center;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: none;
    background-color: #F5F5F5;
	display: block;
	font-size: 12px;
	padding: 10px;
    width: 90%;
}

/* .persetujuan a {
    text-decoration: none;
} */

.button-rst-pswd {
    display: flex;
    justify-content: space-around;
    /* background-color: yellow; */
}

.submitbtn button, .cancelbtn button {
    background-color: #A6BB8D;
    width: 275px;
    height: 30px;
    border: none;
    border-radius: 7px;
}

.submitbtn a {
    text-decoration: none;
    color: black;
}

/* responsif breakpoint */
/* ukuran tablet */
@media screen and (max-width:768px) {
    .navigasi_login {
        display: inline;
    }
    #form {
        padding: 100px 20px 100px 20px;
    }
    .submitbtn button, .cancelbtn button {
        width: 150px;
    }
}
/* ukuran mobile */
@media screen and (max-width:576px) {

}
/* responsif breakpoint */
/* =====  kanan ===== */
/* .input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
} */